{% extends "ratingsys/layout.html" %}

    
{% block body %}
  <h1>table of students with their  marks</h1>
       <table>
        <tr>
            <th>Student Number</tuh>
            <th>Name</th>
            <th>Surname</th>
            <th>Semester Mark</th>
            <th>Exam Mark</th>
            <th>Re-Exam Mark</th>
            <th>Final Mark</th>
            <th>status</th>
        </tr>
        <!--{% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.course }}</td>
            <td>{{ student.marks }}</td>
        </tr>
        {% endfor %}-->
    </table>
    <a href="{% url 'capture_marks' %}">Capture Marks</a>
    <a href="{% url 'capture_details' %}">Capture Details</a>
{% endblock %}








